a {
  text-decoration: none;
}

.root h2 {
  margin: 25px;
  font-size: 24px;
  font-family: palatino;
}

.root h4 {
  margin: 25px;
  color: darkgray;
  font-size: 16px;
  font-family: palatino;
}

.root img {
  width: 810px;
  height: 400px;
  margin-left: 25px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-button {
  margin: 10px;
  background-color: #EFD469;
  font-weight: bold;
  font-size: 16px;
}

.campus-list {
  margin: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  justify-content: space-between;
  border-radius: 20px;
}

.campus-list div {
  color: #1496BB;
  font-family: verdana;
  font-size: 14px;
}

.campus-list li {
  display: flex;
  flex: 0 0 33%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.campus-list img {
  width: 300px;
  height: 175px;
}

.single-campus-img {
  width: 100px;
  height: 58px;
  margin-left: 20px;
  position: relative;
  top: 15px;
}

.student-list {
  list-style: none;
}

.student-list div {
  color: #1496bb;
  font-family: verdana;
  font-size: 14px;
}

.student-list li {
  margin: 20px;
  color: black;
}

.label {
  text-align: center;
  font-size: 24px;
  margin: 20px;
  font-style: bolder;
  font-family: palatino;
}

.body-button {
  font-size: 16px;
  margin-left: 10px;
  background-color: ghostwhite;
  color: #BCA136;
  font-style: bold;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 30px;
  padding: none;
  font-family: verdana;
  font-size: 12px;
}

.footer img {
  width: 50px;
  height: 50px;
}

.footer-text {
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 5px;
}

.footer h5 {
  margin-top: 13px;
  margin-right: 5px;
}

.form-group {
  margin-left: 20px;
}

.form-labels {
  margin: 5px;
}

.form-control {
  margin: 10px;
  padding-bottom: 8px;
  border-style: none;
  border-bottom: 1px solid salmon;
  font-size: 14px;
  color: #707C80;
}

.field-labels {
  color: #1496BB;
  font-family: verdana;
  font-size: 15px;
}
